* {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}
.title {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-top: 10px;
  /* margin-bottom: 20px; */
  margin-bottom: 20px;
}
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: #3b82f6;
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding: 12px 25px;
  border-radius: 10px;
  text-decoration: none;
  height: 45px;
  border-width: 0px;
  padding: 15px 15px;
  /* box-shadow: 0 3px 3px #acacac; */
  transition: all 0.2s ease;
}
.plus {
  margin-right: 10px;
  /* margin-top: 10px; */
}
.cta:hover {
  box-shadow: 1px 1px #969696;
  transform: scalex(1.03);
}
.icon {
  margin-right: 10px;
  margin-right: 5px;
  margin-top: 10px;
}
/* .main {
  background-color: #f3f2f2;
  display: flex;
  justify-content: space-between;
  
  padding: 10px 10px;
  height: 700px;
} */
.horizontal {
  width: 100%;
  height: 2px;
  background-color: #d6d2d2;
  margin: 5px;
}

.board {
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
  padding: 20px;
  width: 100%;
  background-color: #f5f7f8;
  min-height: 429px;
  max-height:fit-content ;
}

.dts {
  font-size: 14px;
  font-weight:500;
  color: #969696;
}
.heading{
  display: flex;
    font-size: 30px;
    font-weight: 700;
}
.dots{
  background: none;
  border-width: 0px;
  margin-left: 5px;
  margin-top: 10px;
  font-size: 10px;
}
.icon{
    size: 14px;
}