.footer {
  /* position: fixed; */
  padding: 16px 48px;
  background-color: #fffffa;
  border-top: 1px solid #f4f4f4;
  bottom:0%;
}
.foot{
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main{
    bottom: 0;

    /* position: fixed; */
}
.links{
  gap:30px

}


.link { 
  /* gap: 100px; */
  margin-left: 25px;
  font-size: 12px;
  font-weight:600 ;
  color: #a2a0a0;
  font-style: normal;
  text-decoration: none;
  
  
}
.copy {
  font-size: 13px;
  color: #6b7280;
  font-style: oblique;
}
